package components

import "github.com/Ed1123/us-visa-wait-times/usvisa"
import "fmt"

templ Table(cities []usvisa.CityWaitTime) {
	<table>
        <thead>
            <tr>
                <th>City</th>
                <th>Wait Time</th>
            </tr>
        </thead>
        <tbody>
            for _, city := range cities {
                <tr>
                    <td>{ city.CityName }</td>
                    if city.BusinessTourismVisitor.Days != nil {
                        <td>{ fmt.Sprint(*city.BusinessTourismVisitor.Days) }</td>
                    } else if city.BusinessTourismVisitor.Message != nil {
                        <td>{ string(*city.BusinessTourismVisitor.Message) }</td>
                    }
                </tr>
	        }
        </tbody>
    </table>
}

templ Index() {
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>US Visa Wait Times</title>
            <style>
                body {
                    font-family: 'Arial', sans-serif;
                    margin: 0;
                    padding: 0;
                    background-color: #f4f4f4;
                    color: #333;
                }

                header {
                    background-color: #008080;
                    padding: 20px;
                    text-align: center;
                    color: #fff;
                }

                h1 {
                    margin: 0;
                    font-size: 36px;
                }

                h2 {
                    margin-top: 10px;
                    font-size: 24px;
                }

                section {
                    padding: 20px;
                }
            </style>
		</head>
		<body>
        <header>
            <h1>US Visa Wait Times</h1>
            <p>Wait times for US visa appointments at consulates around the world.</p>
        </header>
        <section>
            <div>
                <h2>APIs</h2>
			    <ul>
				    <li><a href="/wait-times">Wait Times</a></li>
				    <li><a href="/wait-times-with-country">Wait Times with Countries</a></li>
			    </ul>
            </div>
            <div>
                <h2>Tables</h2>
			    <ul>
                    <li><a href="/table-js">Working table from ChatGPT</a></li>
                    <li><a href="/table">Table made with just Go/Templ</a></li> 
			    </ul>
            </div>
        </section>
		</body>
	</html>
}

