<!DOCTYPE html>
<html>
  <head>
    <title>{{.tittle}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>{{.tittle}}</h1>
      <h2>Visitor/Business B1/B2</h2>
      <table
        id="table"
        class="table table-striped table-bordered"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>City</th>
            <th>Average Days</th>
          </tr>
        </thead>
        <tbody>
          {{
            range.data
          }}
          <tr>
            <td>{{.CityName}}</td>
            <td>
              {{if .BusinessTourismVisitor.Days}}
              {{.BusinessTourismVisitor.Days}}
              {{/* {{else if .BusinessTourismVisitor.Message}}
              {{.BusinessTourismVisitor.Message}} */}}
              {{else}}
              {{/* No data */}}
              1000000
              {{ end }}
            </td>
          </tr>
          {{
            end
          }}
        </tbody>
      </table>
    </div>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.5.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min"
    ></script>
    <script>
      $(document).ready(function () {
        $('#table').DataTable();
      });
    </script>
  </body>
</html>
