<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <script
      src="/assets/js/simple-datatables.js"
      type="text/javascript"
    ></script>
    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{.Title}}</h1>
      <h2>Visitor/Business B1/B2</h2>
      <table id="table">
        <thead>
          <tr>
            <th>City</th>
            <th>Average Days</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Data }}
          <tr>
            <td>{{.CityWaitTime.CityName}}</td>
            <td>
              {{if .CityWaitTime.BusinessTourismVisitor.Days}}
              {{.CityWaitTime.BusinessTourismVisitor.Days}} {{else if
              .BusinessTourismVisitor.Message}}
              {{.BusinessTourismVisitor.Message}} {{ end }}
            </td>
            <td>{{if .Country}} {{.Country}} {{else}} No data {{ end }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    <script>
      const dataTable = new simpleDatatables.DataTable('#table');
    </script>
  </body>
</html>
