<!DOCTYPE html>
<html>
  <head>
    <title>US VISA Waiting Times</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>US VISA Waiting Times</h1>
      <table
        id="example"
        class="table table-striped table-bordered"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>City</th>
            <th>Waiting time</th>
          </tr>
        </thead>
        <tbody>
          {{range .Data}}
          <tr>
            <td>{{.CityName}}</td>
            <td>{{.BusinessTourismVisitor}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.5.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min"
    ></script>
    <script>
      $(document).ready(function () {
        $('#example').DataTable();
      });
    </script>
  </body>
</html>
